.table1 {
   /* // border-collapse: collapse; */
    border-spacing: 40px;
    width: 50%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
  }
  
  th:first-child, td:first-child {
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2
  }
  .btn1{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    border-radius: 4px;
  }
  