
  
.App-header {
  background-color:#ddd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}




.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}


/* Set a style for the submit button */
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  width: 100px;
}
.btn2 {
  background-color: red;
  color: white;
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 4px;
}

.input[type=submit] {
  width: 60%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.input[type=submit]:hover {
  background-color: #45a049;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: black;
}

table {
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
div{
  background-color:white
}
.button1{
  background-color: dodgerblue;
  color: white;
  padding: 12px 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 4px;
}

.input1[type=text],[type="Number"], select,textarea {
  width: 40%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.div1{
  
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
    width: 100%;
}


/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  right:89%;
  height: 25px;
  width: 25px;
  background-color: #f2f2f2;
  border-radius: 50%;
}



/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
}
.topinput[type=text] {
  float: right;
  padding: 6px;
  border: red;
  background-color: burlywood;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
h1.uppercase {
 
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
}